*{margin:0;padding:0;}

body{font-family:Arial;font-size:14px;line-height:20px;color:#000;background-color:#ddd;}

.fix{overflow:hidden;}
a{text-decoration:none;}

.all_email_hover a:hover {color: #8B0000;}
#search_text{
	border: solid 2px rgba(0, 43, 85, 0.96);
	border-radius: 40px;
}
#clickable{
background: white;
	border-radius: 60px;
}



.combo_box{
	 border: solid 2px;
	 border-radius: 40px;
 }
.btn btn-default{
	border: solid 6px;
	border-radius: 70px;
}.btn{
	border: solid 6px;
	border-radius: 70px;
}
.main{width:1000px; margin:0 auto;background:#FFF;}

.header_area{width:1000px;}
.header{width:1000px;height:135px;background-color:rgba(0, 43, 85, 0.96);margin-top: 5px;}
.header_left{float:left;}
	.logo{float:left;width:150px;}
	.logo img{width:130px;height:125px;padding:5px;border-radius:10px;display:block;}
.header_middle{float:left;width:845px;height:120px;margin-top: 10px;}
.header_middle p{font-size: 28px;line-height:105px;text-align:center;font-weight:bold;color:#FFFFFF;}

/*======================= Start Archive CSS ===================*/
.details,.show,.hide:target {display: none;}
.volume_header a{font-size: 22px;}
.separator_volume{width: 540px;height: 2px;background-color:#000000;}
.hide:target + .show,
.hide:target ~ .details {display: block;}
/*======================= Ends Archive CSS ===================*/

.expandissueyear a {
	padding: 1px 15px;
}

.expandissueyear a.open:link, .expandissueyear a.open:visited {
	background: no-repeat ;
}

.expandissueyear a:link, .expandissueyear a:visited {
	background: no-repeat;

}
#articleAbstract div {
	padding:5px;
	text-align: justify;
	line-height:1.5em;
}
.slider_area{width:1000px;margin-top: 2px;margin-bottom: 2px;background-color:#FFFFFF;}
.slider{width:1000px;margin-top: 2px;margin-bottom: 2px;}
	.slider_left{float:left;width:600px;border: 2px solid #BADA55;border-radius: 10px;}

	.slider_right{background-color:#99CC99;float:left;width:384px;margin-left: 2px;border: 2px solid #BADA55;
		border-radius: 10px;}
	.right_section{border:2px  thick #FFFFFF;width:365px;height:300px;float:left;}

.news_events{margin:5px 11px 15px 11px;}
.upcoming_events{margin:5px 11px 15px 11px;}


.slider_text{color: #fff; line-height: 30px; margin-left: 227px; margin-top: 80px;}
.slider_text h1{color:#1364BD;}
.slider_text h2{}
.slider_text p{}

.maincontent{margin-top:7px;width:1000px;background-color:#FFFfff;}

/*======================= Start Side Bar ===================*/
.sidebar_area{float:left;}
.sidebar{width:213px;margin-right:10px;float:left;padding:5px;}
.sidebar ul{background: #123305;margin:0;padding:0;list-style:none;border: 1px solid #BADA55;}
.sidebar ul li{padding:5px;border-bottom:1px solid #ddd;}
.sidebar ul li a{text-decoration:none;font-size:17px;color: #fff;}
.sidebar ul li a:hover{color: #ef3f2f;}

.open_access_img{float:left;margin-top: 3px; }
.open_access_img img {width: 203px;height: 100px;}
/*======================= Ends Side Bar ===================*/



/*======================= Start Content Area ===================*/
.content_area{float:left;width:575px;}
	.content{text-align: center;}
	.content p{font-size: 22px;font-weight:bold;line-height:35px;color: #ff0000;}
	
	.call_paper_well_submit_area{float:left;width:550px;margin-top: 50px;}
		.call_paper{float: left;}
		.call_paper img{float: left;width:140px;height: 45px}
		.well_come {margin-left: 150px; width: 220px;}
		.well_come p{color:#DD4E41;font-size:20px;font-weight:bold;line-height:50px;}
		.submit_paper{float:left; }
		.submit_paper img{float:left;width:186px;text-align:center;height:45px;}
	.btn_submit_paper img{cursor: pointer;width:200px;height:150px;border: 2px solid #BADA55;border-radius: 10px;}
	.btn_submit_paper:hover{color:#E76818;}

	.ijirk_text{float: left;border: 0px;margin-right: 10px;}
	.ijirk_text p{float: left;text-align: justify;}
	.continue_reading{font-weight:bold;color: #ff0000;}

	.notice_board_area{float: left;width:550px;margin-top: 30px;}
		.notice_board_title{float: left;background-color: #0A335B;border: 1px solid #000000;text-align: center;width:545px;}
		.notice_board_title p{color:#fff;font-weight: bold;font-size: 23px;}
		.notice_board_description{float:left;border: 1px solid #000000;width:545px;}

	.why_ijirk_area{float: left;width:550px;margin-top: 30px;}
		.why_ijirk_title{float: left;background-color:#0A335B;border: 1px solid #000000;text-align: center;width:545px;}
		.why_ijirk_title p{color:#fff;font-weight: bold;font-size: 23px;}
		.why_ijirk_description{float:left;border: 1px solid #000000;width:545px;}
		.why_ijirk_description p{margin-left: 15px;line-height: 25px;text-align: justify;}


.content_right_area{float:left;width:190px;}
.content_right{float:left;}

	.ijirk_title_description{background-color: #123305;}
	.ijirk_title{background-color:#0A335B; border: 1px solid #BADA55;text-align: center;}
	.ijirk_title h3{color: white;}
	.ijirk_description{background-color:#1f1f2e;}
	.ijirk_description{border: 1px solid #BADA55;text-align: left;}
	.ijirk_description p{margin-left: 5px;font-size: 13px;text-align: justify;color:#FFFFFF;}

#articleAbstracts div {
	padding:1px;

	text-align: justify;
	line-height:1.5em;
	background-color:#1f1f2e;
}
.marques{

	color: #131b5a;
 
}
#articleAbstracts p{color:#FFFFFF; 	margin-left: 3px;}


.journal_cover_page_img{float:left;margin-top: 3px; border: 2px solid #BADA55;border-radius: 10px;}
	.journal_cover_page_img img {width: 185px;height: 300px;}

	.sosial_image{float:left;width:185px;margin-top:20px;}
	.sosial_image img{float:left;width:30px;height:30px;margin-left:15px;}

	.single_content{margin-bottom:3px;border: 2px solid #BADA55;border-radius: 10px;padding:5px;}
	.single_content img{width: 175;height: 60px;}

	

.various_journal_area{float: left;width: 960px;margin-left: 20px;margin-top: 50px;}
.various_journal{float: left;}
	.various_journal_single_content{float: left;border: 1px solid #000000;}
	.various_journal_single_content img{float: left;width: 235px;height: 100px;}

/*======================= Ends Content Area ===================*/



.footer_area{width:1000px;margin-top: 30px;margin-bottom: 5px;}
.footer{float: left;}
.footer_top img{width:1000px;height: 2px;}
.footer_bottom{padding:10px;text-align: center;}





/* ------------------Start Current Issue CSS -----------------*/
	.current_issue_area{float:left;width:575px;margin-bottom: 30px;}
	.current_issue {text-align: center;}
	.current_issue h1{text-align: center;line-height:35px;color:#DD4E41;}
	.current_issue h2,h3{text-align: center;line-height:35px;}
	.current_issu_ijirk_text_1{float:left;margin-top:30px;text-align:justify;width:560px;}
	.current_issu_ijirk_text_2{float:left;margin-top:30px;text-align:justify;width:560px;}

	.current_issue_css_blink {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
/* -------------------Ends Current Issue CSS -------------------------------------*/

/*======================= Start Archive CSS ===================*/
.details,.show,.hide:target {display: none;}
.volume_header a{font-size: 22px;}
.separator_volume{width: 540px;height: 2px;background-color:#000000;}
.hide:target + .show,
.hide:target ~ .details {display: block;}
/*======================= Ends Archive CSS ===================*/

/* ------------------Start Editors Member CSS -----------------*/
	.editor_board_table{width:97%;border-collapse:collapse;}
	.editor_board_table th{background-color:#C8E03D;}
	.editor_board_table td,th{border:1px solid black;}
	.editor_board_table td,p{font-size:16px;}
/* -------------------Ends Editors Member CSS -------------------------------------*/


/* ------------------Start Review Process CSS -----------------*/
	.review_process_ijirk_text p{text-align: justify;}
	.review_process_ijirk_text {width: 560px;}
/* -------------------Ends Review Process CSS -------------------------------------*/


/* ------------------Start Publication FEE CSS -----------------*/
	.publication_fee_ijirk_text p{text-align: justify;}
	.publication_fee_ijirk_text {width: 560px;}
/* -------------------Ends Publication FEE CSS -------------------------------------*/


/* ------------------Start FAQ CSS -----------------*/
	.faq_ijirk_text p{text-align: justify;}
	.faq_ijirk_text {width: 560px;}
/* -------------------Ends FAQ CSS -------------------------------------*/


/* ------------------Start Why Us CSS -----------------*/
	.why_us_ijirk_text p{text-align: justify;}
	.why_us_ijirk_text {width: 560px;}
/* -------------------Ends Why Us CSS -------------------------------------*/


/* ------------------Start Guideline For Author CSS -----------------*/
	.guideline_for_author_ijirk_text p{text-align: justify;}
	.guideline_for_author_ijirk_text {width: 560px;}
/* -------------------Ends Guideline For Author CSS -------------------------------------*/


/* ------------------Start Publishers CSS -----------------*/
	.publishers_ijirk_text p{text-align: justify;}
	.publishers_ijirk_text {width: 560px;}
/* -------------------Ends Publishers CSS -------------------------------------*/


/* ------------------Start Policies CSS -----------------*/
	.policies_ijirk_text {width: 560px;}
	.policies_ijirk_text p{text-align: justify;}
/* -------------------Ends Policies CSS -------------------------------------*/


/* ------------------Start Mision & Vision CSS -----------------*/
	.mision_vision_ijirk_text {width: 560px;}
	.mision_vision_ijirk_text p{text-align: justify;}
/* -------------------Ends Mision & Vision CSS -------------------------------------*/


/* ------------------Start Contact Us CSS -----------------*/
	.contact_error{color: #FF0000;}
	.contact_ijirk_text{width: 560px;}
/* -------------------Ends Contact Us CSS -------------------------------------*/

/* ------------------Start WelCome Note CSS -----------------*/
	.welcome_note_ijirk_text {width: 560px;}
        .welcome_note_ijirk_text p{text-align: justify;}
/* -------------------Ends WelCome Note CSS -------------------------------------*/

/* ------------------Start Paper Submission CSS -----------------*/
	.paper_submission_ijirk_text {width: 560px;}
        .paper_submission_ijirk_text p{text-align: justify;}
/* -------------------Ends Paper Submission CSS -------------------------------------*/

/* ------------------Start Submit Your Paper CSS -----------------*/
	.submit_your_paper_ijirk_text {width: 560px;}
        .submit_your_paper_ijirk_text p{text-align: justify;}
/* -------------------Ends Submit Your Paper CSS -------------------------------------*/

/* ------------------Start Ethical Code CSS -----------------*/
	.ethical_code_ijirk_text {width: 560px;}
        .ethical_code_ijirk_text p{text-align: justify;}
/* -------------------Ends Ethical Code CSS ------------------------------------------------*/

/* ------------------Start Duties Edtitors CSS -----------------*/
	.duties_editors_ijirk_text {width: 560px;}
        .duties_editors_ijirk_text p{text-align: justify;}
/* -------------------Ends Duties Edtitors CSS ------------------------------------------------*/

/* ------------------Start Aim and Scope CSS -----------------*/
	.aim_and_scope_ijirk_text {width: 560px;}
        .aim_and_scope_ijirk_text p{text-align: justify;}
/* -------------------Ends Aim and Scope CSS ------------------------------------------------*/

/* ------------------Start Duties Authors CSS -----------------*/
        .duties_author_ijirk_text {width: 560px;}
	.duties_author_ijirk_text p{text-align: justify;}
/* -------------------Ends Duties Authors CSS ------------------------------------------------*/


/* ------------------Start Author Rights CSS -----------------*/
        .author_right_ijirk_text {width: 560px;}
	.author_right_ijirk_text p{text-align: justify;}
/* -------------------Ends Author Rights CSS ------------------------------------------------*/


/* ------------------Start Previous Issue CSS -----------------*/
	.previous_issue_journal_list_area{float:left;width:575px;}
		.previous_issue_journal_list{float:left;width:575px;}
			.previous_issue_single_journal{float:left;width:490px;}
			.previous_issue_single_journal_pdf{float:left;width:70px;}
			.previous_issue_single_journal_pdf img{float:left;height:70px;width:70px;}
		.seperator{float:left;width:575px;}
		.seperator img{height:2px;width:560px;}
		.previous_issue_detail_paper{font-weight:normal;color: #000000;}
		.previous_issue_detail_paper:hover{color:#E76818;}
		.current_issue_css_blink{color:#b30000;}
/* -------------------Ends Previous Issue CSS ------------------------------------------------*/


/* ------------------Start Call For Paper CSS -----------------*/
	.call_for_paper_content_area{float:left;width:575px;margin-bottom: 30px;}
	.call_for_paper_content {text-align: center;}
	.call_for_paper_content h1{text-align: center;line-height:35px;color:#DD4E41;}
	.call_for_paper_content h2,h3{text-align: center;line-height:35px;}

	.call_for_paper_ijirk_text_1_1{float:left;margin-top:10px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_2{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_3{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_4{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_5{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_6{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_6_6{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_7{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_8{float:left;margin-top:5px;text-align:justify;width:560px;}
	.call_for_paper_ijir_text_9{float:left;margin-top:5px;text-align:justify;width:560px;}
/* -------------------Ends Call For Paper CSS ------------------------------------------------*/

/* ------------------Start Contact CSS -----------------*/
	.contact_ijirk_text{}
	.contact_ijirk_text h2{text-align: center;}
	.contact_ijirk_text p{text-align:justify;}
/* -------------------Ends Contact CSS ------------------------------------------------*/


.submit_paper p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {margin-left: 100%; width: 300%; }

  to {margin-left: 0%;width: 100%;}
}
/* For Text Blink*/

.submit_paper_blink {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.welcome_to_ijirk_blink {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 2.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.call_paper_css_blink {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}


.expandissueyear a {
	padding: 1px 15px;
}

.expandissueyear a.open:link, .expandissueyear a.open:visited {
	background: url(collapse.png) no-repeat ;
}

.expandissueyear a:link, .expandissueyear a:visited {
	background: url(expand.png) no-repeat;

}